h2 {
	font-size: 32px;
	color: #a00909;
	padding: 0;
	margin: 15px 0px;
}

h3 {
	font-size: 24px;
	padding: 0;
	margin: 10px 0px;
}

canvas {
  display: block;
}

.game {
	display: inline-block;
	width: 640px;
	height: 540px;
    margin: 20px;
    background: #000;
    border: #353535 solid 1px;
}

#dangame {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.full-screen {
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    z-index: 10;
    top: 0;
    left: 0;
}

#dangameButton {
	display: block;
	background: #a00909;
	color: #ddd;
	text-align: center;
	font-size: 36px;
	cursor: pointer;
	width: 200px;
    height: 75px;
	border-radius: 2px;
    border: none;
}

#dangameButton:hover,
#dangameButton:focus {
	background: #e00d0d;
	color: #ddd;
	transition: background-color 0.3s ease;
}

.manual {
	display: inline-block;
	max-width: calc(100% - 770px);
	min-width: 300px;
	vertical-align: top;
	margin-left: 60px;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border-left: 3px #a00909 solid;
	max-height: 560px;
	overflow: auto;
}

.manual h2 {
	margin: 5px 0;
}

li {
	margin: 10px 0px;
}